#about{
  display: grid;
  grid-template-areas:'about .';
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

#about > div{
  grid-area: about;
} 


body{
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
}

#main-footer{
  margin-top: auto;
}

@media screen and (max-width:1100px){
  #about{
    grid-template-areas:'about';
    grid-template-columns: 1fr;
  }
}